@import '../mnt/pandora/lib/pandora.css'

html
	background-color ivory

body
	background-color ivory

.dimasmenuToolbarEconomy
	height 0px !important
	padding 0px !important
	border-width 0px !important

.dimasmenuToolbarXristisEconomy
	position absolute !important
	top 30px !important
	right 30px !important

.dimasmenuToolbarTitlos
	font-weight bold
	color sienna
	text-shadow 1px 1px 1px #423522

.dimasmenuTRButton
	display inline-block
	padding 0px 4px

	color #d08562
	text-shadow 1px 0px 0px #55055f

	background-color #fffbd1
	border-style solid
	border-color #e8dac7
	border-width 1px
	border-radius 5px

	cursor pointer

#dimasmenuToggleFullscreen
	opacity 0.4

#dimasmenuToggleFullscreen:hover
	opacity 1
	box-shadow 1px 1px 2px #888888

.dimasmenuRibbonCopyright
	display inline-block
	padding-right 4px
	cursor pointer

.dimasmenuRibbonCopyright:hover
	text-shadow 1px 1px 1px #423522

///////////////////////////////////////////////////////////////////////////////@

.dimasmenuEnotita
	display none
	overflow hidden

.dimasmenuEnotitaActive
	display block

.dimasmenuMenuLine
	display block

.dimasmenuMenuTab
	position relative
	display inline-flex

	justify-content center
	align-items center; 
	text-align center
	vertical-align top

	margin 8px
	padding 8px

	width 160px
	height 100px

	font-size 20px
	font-weight bold

	color sienna
	background-color #d0cc95
	text-shadow 1px 1px 1px #423522

	border-style solid
	border-color khaki
	border-width 4px
	border-radius 4px
	box-shadow 2px 2px 4px #cccccc

	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.dimasmenuMenuTabEconomy
	margin 4px
	padding 2px
	border-width 2px

.dimasmenuMenuTabAtono
	opacity 80%

.dimasmenuMenuTabCandi
	opacity 100%
	color saddlebrown
	text-shadow 1px 1px 1px #251b08

	box-shadow 4px 4px 12px #ababab

	cursor pointer

.dimasmenuMenuTabLabel
	display block
	line-height 140%
	vertical-align middle

.dimasmenuMenuTabFyi
	display none
	padding 2px

	max-height 100%
	overflow-y hidden

	font-family Arial, Helvetica, sans-serif
	font-size 14px
	font-weight normal
	text-shadow none

	color midnightblue
	background-color yellow
	border-radius 2px

.dimasmenuMenuTabFyi tr
	line-height 90%

.dimasmenuMenuTabFyiError
	color firebrick

.dimasmenuMenuTabStatusIcon
	position absolute
	top 4px
	right 4px
	width 30px

.dimasmenuMenuTabSuccess
	background-color #bbe6bb

.dimasmenuMenuTabBusy
	background-color gainsboro

.dimasmenuMenuTabInactive
	opacity 0.5
	cursor not-allowed

.dimasmenuMenuTabError
	background-color #e29090

.dimasmenuEpistrofiBar
	display table
	opacity 0.8

	margin 8px
	padding 4px 8px 4px 4px

	font-size 20px
	font-weight bold

	color #b97c5f
	background-color #d0cc95

	white-space nowrap
	text-align center
	text-shadow 1px 1px 1px #423522

	border-style solid
	border-color khaki
	border-width 4px
	border-radius 4px

	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.dimasmenuEpistrofiBar::before
	content '\21EA'
	padding-right 4px

	color saddlebrown
	text-shadow none

.dimasmenuEpistrofiBar:hover
	opacity 1
	color saddlebrown
	text-shadow 1px 1px 1px #251b08

	box-shadow 2px 2px 6px #ababab

	cursor pointer

.dimasmenuEpistrofiBarEconomy
	position absolute
	top -4px
	opacity 0

	margin 4px 2px
	padding 1px 8px 1px 4px
	border-width 1px
	border-radius 2px

	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.dimasmenuMenuEconomy
	margin 16px 2px 2px 2px

.dimasmenuPaletaEconomy
	margin 16px 2px 2px 2px
	padding 2px

.dimasmenuKirosiFyiLeft
	padding-right 4px
	text-align right

.dimasmenuKirosiFyiRight
	text-align left

.dimasmenuOximaTiposNotice
	color firebrick
	text-shadow 1px 1px 1px black
	background-color lightblue
	font-weight bold

.dimasmenuOximaKatastasiNotice
	color red
	text-shadow 1px 1px 1px yellow
	background-color black
	font-weight bold

.dimasmenuButton
	display inline-block

	margin 8px
	padding 4px 8px 4px 4px

	font-size 20px
	font-weight bold

	color #906651
	background-color #e8e8e8

	text-align center
	text-shadow 1px 1px 1px #2d6d6d

	border-style solid
	border-color #d2d0c2
	border-width 4px
	border-radius 4px

	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.dimasmenuButton:hover
	opacity 1
	color #54450c
	background-color #fffdb6
	text-shadow 1px 1px 1px #845e19

	border-color #ffd79a
	box-shadow 2px 2px 6px #ababab

	cursor pointer

.dimasmenuButtonEconomy
	margin 2px 4px
	padding 2px 4px 2px 4px

	border-width 2px
	border-radius 4px

///////////////////////////////////////////////////////////////////////////////@

.dimasmenuMarkaContainer
	position relative
	display inline-block
	opacity 0.7

	margin 3.6px
	padding-top 2px
	width 50px

	background-color #ffffff

	border-style solid
	border-width 1px
	border-color gray
	border-radius 4px

.dimasmenuMarkaContainer:hover
	opacity 1.0
	border-color #0400ff
	box-shadow 2px 2px 4px #316954
	cursor pointer

.dimasmenuMarkaImage
	width 100%

.dimasmenuMarkaEpilogi
	opacity 1.0
	border-color red

.dimasmenuMarkaCheck
	position absolute
	top -5px
	right -10px
	width 32px
	opacity 0.9

///////////////////////////////////////////////////////////////////////////////@

.dimasmenuXromaContainer
	position relative
	display inline-block

	padding 4px
	margin 2px 4.6px
	width 40px
	height 40px

	border-style solid
	border-width 1px
	border-color gray
	border-radius 4px

.dimasmenuXromaContainer:hover
	padding 2px
	border-width 3px
	border-color #ff4500
	cursor pointer

.dimasmenuXroma
	position relative
	width 100%
	height 100%
	border-radius 2px

.dimasmenuXromaEpilogi
	border-color red

.dimasmenuXromaCheck
	position absolute
	top -10px
	right -12px
	width 32px
	opacity 0.9

///////////////////////////////////////////////////////////////////////////////@

.dimasmenuTiposContainer
	position relative
	display inline-block
	padding 4px

.dimasmenuTiposContainerCandi
	padding 2px
	cursor pointer

.dimasmenuTipos
	display inline-block
	border-radius 2px

	padding 2px 4px

	color #3c3c3c
	background-color ivory

	border-style solid
	border-width 1px
	border-color gray
	border-radius 4px

.dimasmenuTiposCandi
	text-shadow 0px 1px 1px #000000
	color #000000
	background-color yellow
	border-width 3px
	border-color midnightblue

.dimasmenuTiposEpilogi
	border-color red

.dimasmenuTiposCheck
	position absolute
	top -4px
	right -2px
	width 32px
	opacity 0.9

///////////////////////////////////////////////////////////////////////////////@

.dimasmenuToposimoContainer
	position relative
	display inline-block
	padding 4px

.dimasmenuToposimoContainerCandi
	padding 2px
	cursor pointer

.dimasmenuToposimo
	display inline-block
	border-radius 2px

	padding 2px 4px

	color #3c3c3c
	background-color ivory

	border-style solid
	border-width 1px
	border-color gray
	border-radius 4px

.dimasmenuToposimoCandi
	text-shadow 0px 1px 1px #000000
	color #000000
	background-color yellow
	border-width 3px
	border-color midnightblue

///////////////////////////////////////////////////////////////////////////////@
