/******************************************************************************@
**
** @BEGIN
**
** @COPYRIGHT BEGIN
** Copyright (C) 2020 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
** @COPYRIGHT END
**
** @FILETYPE BEGIN
** css
** @FILETYPE END
**
** @FILE BEGIN
** www/dimas/proklisi/klisiDebug.cdd
** @FILE END
**
** @HISTORY BEGIN
** Created: 2020-01-26
** @HISTORY END
**
** @END
**
*******************************************************************************/

.proklisiKlisiEnotitaData
	border-style solid
	border-width 1px
	border-color #cc0101
