.proklisiKlisiSelida {
	display: block;
	padding: 8px;

	font-size: 18px;
	text-align: left;

	color: #202020;
	background-color: lightpink;
}

.proklisiKlisi {
	display: block;
	padding: 8px;

	border-style: solid;
	border-width: 2px;
	border-color: #444444;
}

.proklisiKlisiEnotitaTitlos {
	margin: 12px 0px 4px 0px;

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;

	color: #282828;
	text-align: center;

	border-style: double none double none;
	border-width: 3px;
	border-color: #444444;
}

.proklisiKlisiEnotitaData {
	width: 100%;
	border-collapse: collapse;
}

.proklisiKlisiEnotitaPrivate {
	background-color: yellow;
}

.proklisiKlisiPedio {
	line-height: 140%;
}

.proklisiKlisiLabel {
	width: 160px;
	max-width: 160px;
	text-align: left;
	vertical-align: top;

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	letter-spacing: -1px;
	color: #282828;

	white-space: nowrap;
	overflow-x: hidden;
}

.proklisiKlisiData {
	padding-left: 8px;
	vertical-align: top;
	font-weight: bold;
}

.proklisiKlisiParavasi {
	font-style: italic;
}

.proklisiKlisiParavasi::before {
	content: '\201C';
	margin: 0px 0px 0px 8px;
	font-style: normal;
}

.proklisiKlisiParavasi::after {
	content: '\201E';
	font-style: normal;
}
