body {
	width: 700px;
}

.proklisiEnotita {
	display: none;
	text-align: center;
	overflow-y: hidden;
}

.proklisiEnotitaActive {
	display: block;
	height: 0px;
	overflow-y: hidden;
}

.proklisiMenuLine {
	display: block;
}

.proklisiMenuTab {
	position: relative;
	display: inline-flex;

	justify-content: center;
	align-items: center; 
	text-align: center;
	vertical-align: top;

	margin: 8px;
	padding: 8px;

	width: 160px;
	height: 100px;

	font-size: 20px;
	font-weight: bold;

	color: sienna;
	background-color: #d0cc95;
	text-shadow: 1px 1px 1px #423522;

	border-style: solid;
	border-color: khaki;
	border-width: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #cccccc;
}

.proklisiMenuTabAtono {
	opacity: 80%;
}

.proklisiMenuTabCandi {
	opacity: 100%;
	color: saddlebrown;
	text-shadow: 1px 1px 1px #251b08;

	border-style: outset;
	box-shadow: 2px 2px 4px #888888,
		-2px -2px 4px #f2f2f2;

	cursor: pointer;
}

.proklisiMenuTabLabel {
	display: block;
	line-height: 140%;
	vertical-align: middle;
}

.proklisiMenuTabFyi {
	display: none;
	padding: 2px;

	max-height: 100%;
	overflow-y: hidden;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-shadow: none;

	color: midnightblue;
	background-color: yellow;
	border-radius: 2px;
}

.proklisiMenuTabFyiError {
	color: firebrick;
}

.proklisiMenuTabStatusIcon {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 30px;
}

.proklisiMenuTabSuccess {
	background-color: #bbe6bb;
}

.proklisiMenuTabError {
	background-color: #e29090;
}

.proklisiMenuTabBusy {
	background-color: gainsboro;
}

.proklisiMenuBar {
	display: inline-block;

	margin: 8px;
	padding: 4px;
	width: 70%;

	font-size: 20px;
	font-weight: bold;

	color: #b97c5f;
	background-color: #f3eeaa;

	text-align: center;
	text-shadow: 1px 1px 1px #423522;

	border-style: solid;
	border-color: khaki;
	border-width: 2px;
	border-radius: 4px;
}

.proklisiMenuBar:hover {
	padding: 2px;
	color: saddlebrown;
	text-shadow: 1px 1px 1px #251b08;

	border-style: outset;
	border-width: 4px;

	cursor: pointer;
}
