/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/dimas/proklisi/klisiPrint.styl —— Αρχείο προδιαγραφών CSS για την
* εκτύπωση των προ-κλήσεων.
* @FILE END
*
* @HISTORY BEGIN
* Updated 2020-04-12
* Created 2019-02-10
* @HISTORY END
*
* @END
*
*******************************************************************************/

.proklisiEpistrofiBar
	display none

.proklisiKlisiSelida
	padding 0px
	background-color transparent

.proklisiKlisiEnotitaTitlos
	border-style solid none solid none
	border-width 1px

.proklisiKlisiEnotitaFooter
	border-style solid none none none
	border-width 1px
	border-color #444444

.proklisiKlisiProtected
	display none

.proklisiKlisiIpovoliSection
	display none
