html {
  background-color: #fffff0;
}
body {
  background-color: #fffff0;
}
.proklisiPDA {
  margin-top: 10px;
  padding: 10px;
  font-size: 60px;
  color: #ff0;
  background-color: #49b949;
  border-radius: 6px;
  opacity: 0.4;
}
.proklisiPDA:hover {
  opacity: 1;
  cursor: pointer;
}
.proklisiToolbarEconomy {
  height: 0px !important;
  padding: 0px !important;
  border-width: 0px !important;
}
.proklisiToolbarXristisEconomy {
  position: absolute !important;
  top: 30px !important;
  right: 30px !important;
}
.proklisiToolbarTitlos {
  font-weight: bold;
  color: #a0522d;
  text-shadow: 1px 1px 1px #423522;
}
.proklisiTRButton {
  display: inline-block;
  padding: 0px 4px;
  color: #d08562;
  text-shadow: 1px 0px 0px #55055f;
  background-color: #fffbd1;
  border-style: solid;
  border-color: #e8dac7;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
}
#proklisiToggleFullscreen {
  opacity: 0.4;
}
#proklisiToggleFullscreen:hover {
  opacity: 1;
  box-shadow: 1px 1px 2px #888;
}
.proklisiRibbonCopyright {
  display: inline-block;
  padding-right: 4px;
  cursor: pointer;
}
.proklisiRibbonCopyright:hover {
  text-shadow: 1px 1px 1px #423522;
}
.proklisiEnotita {
  display: none;
  overflow: hidden;
}
.proklisiEnotitaActive {
  display: block;
}
.proklisiMenuLine {
  display: block;
}
.proklisiMenuTab {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: top;
  margin: 8px;
  padding: 8px;
  width: 160px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #a0522d;
  background-color: #d0cc95;
  text-shadow: 1px 1px 1px #423522;
  border-style: solid;
  border-color: #f0e68c;
  border-width: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.proklisiMenuTabEconomy {
  margin: 4px;
  padding: 2px;
  border-width: 2px;
}
.proklisiMenuTabAtono {
  opacity: 80%;
}
.proklisiMenuTabCandi {
  opacity: 100%;
  color: #8b4513;
  text-shadow: 1px 1px 1px #251b08;
  box-shadow: 4px 4px 12px #ababab;
  cursor: pointer;
}
.proklisiMenuTabLabel {
  display: block;
  line-height: 140%;
  vertical-align: middle;
}
.proklisiMenuTabFyi {
  display: none;
  padding: 2px;
  max-height: 100%;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
  color: #191970;
  background-color: #ff0;
  border-radius: 2px;
}
.proklisiMenuTabFyi tr {
  line-height: 90%;
}
.proklisiMenuTabFyiError {
  color: #b22222;
}
.proklisiMenuTabStatusIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
}
.proklisiMenuTabSuccess {
  background-color: #bbe6bb;
}
.proklisiMenuTabBusy {
  background-color: #dcdcdc;
}
.proklisiMenuTabInactive {
  opacity: 0.5;
  cursor: not-allowed;
}
.proklisiMenuTabError {
  background-color: #e29090;
}
.proklisiEpistrofiBar {
  display: table;
  opacity: 0.8;
  margin: 8px;
  padding: 4px 8px 4px 4px;
  font-size: 20px;
  font-weight: bold;
  color: #b97c5f;
  background-color: #d0cc95;
  white-space: nowrap;
  text-align: center;
  text-shadow: 1px 1px 1px #423522;
  border-style: solid;
  border-color: #f0e68c;
  border-width: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.proklisiEpistrofiBar::before {
  content: '\21EA';
  padding-right: 4px;
  color: #8b4513;
  text-shadow: none;
}
.proklisiEpistrofiBar:hover {
  opacity: 1;
  color: #8b4513;
  text-shadow: 1px 1px 1px #251b08;
  box-shadow: 2px 2px 6px #ababab;
  cursor: pointer;
}
.proklisiEpistrofiBarEconomy {
  position: absolute;
  top: -4px;
  opacity: 0;
  margin: 4px 2px;
  padding: 1px 8px 1px 4px;
  border-width: 1px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.proklisiMenuEconomy {
  margin: 16px 2px 2px 2px;
}
.proklisiPaletaEconomy {
  margin: 16px 2px 2px 2px;
  padding: 2px;
}
.proklisiKirosiFyiLeft {
  padding-right: 4px;
  text-align: right;
}
.proklisiKirosiFyiRight {
  text-align: left;
}
.proklisiOximaTiposNotice {
  color: #b22222;
  text-shadow: 1px 1px 1px #000;
  background-color: #add8e6;
  font-weight: bold;
}
.proklisiOximaKatastasiNotice {
  color: #f00;
  text-shadow: 1px 1px 1px #ff0;
  background-color: #000;
  font-weight: bold;
}
.proklisiButton {
  display: inline-block;
  margin: 8px;
  padding: 4px 8px 4px 4px;
  font-size: 20px;
  font-weight: bold;
  color: #906651;
  background-color: #e8e8e8;
  text-align: center;
  text-shadow: 1px 1px 1px #2d6d6d;
  border-style: solid;
  border-color: #d2d0c2;
  border-width: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.proklisiButton:hover {
  opacity: 1;
  color: #54450c;
  background-color: #fffdb6;
  text-shadow: 1px 1px 1px #845e19;
  border-color: #ffd79a;
  box-shadow: 2px 2px 6px #ababab;
  cursor: pointer;
}
.proklisiButtonEconomy {
  margin: 2px 4px;
  padding: 2px 4px 2px 4px;
  border-width: 2px;
  border-radius: 4px;
}
.proklisiMarkaContainer {
  position: relative;
  display: inline-block;
  opacity: 0.7;
  margin: 3.6px;
  padding-top: 2px;
  width: 50px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 4px;
}
.proklisiMarkaContainer:hover {
  opacity: 1;
  border-color: #0400ff;
  box-shadow: 2px 2px 4px #316954;
  cursor: pointer;
}
.proklisiMarkaImage {
  width: 100%;
}
.proklisiMarkaEpilogi {
  opacity: 1;
  border-color: #f00;
}
.proklisiMarkaCheck {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 32px;
  opacity: 0.9;
}
.proklisiXromaContainer {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin: 2px 4.6px;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 4px;
}
.proklisiXromaContainer:hover {
  padding: 2px;
  border-width: 3px;
  border-color: #ff4500;
  cursor: pointer;
}
.proklisiXroma {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.proklisiXromaEpilogi {
  border-color: #f00;
}
.proklisiXromaCheck {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 32px;
  opacity: 0.9;
}
.proklisiTiposContainer {
  position: relative;
  display: inline-block;
  padding: 4px;
}
.proklisiTiposContainerCandi {
  padding: 2px;
  cursor: pointer;
}
.proklisiTipos {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  color: #3c3c3c;
  background-color: #fffff0;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 4px;
}
.proklisiTiposCandi {
  text-shadow: 0px 1px 1px #000;
  color: #000;
  background-color: #ff0;
  border-width: 3px;
  border-color: #191970;
}
.proklisiTiposEpilogi {
  border-color: #f00;
}
.proklisiTiposCheck {
  position: absolute;
  top: -4px;
  right: -2px;
  width: 32px;
  opacity: 0.9;
}
.proklisiToposimoContainer {
  position: relative;
  display: inline-block;
  padding: 4px;
}
.proklisiToposimoContainerCandi {
  padding: 2px;
  cursor: pointer;
}
.proklisiToposimo {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 4px;
  color: #3c3c3c;
  background-color: #fffff0;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 4px;
}
.proklisiToposimoCandi {
  text-shadow: 0px 1px 1px #000;
  color: #000;
  background-color: #ff0;
  border-width: 3px;
  border-color: #191970;
}
.proklisiParalogos {
  margin: 8px 0px 8px 20px;
  padding: 2px 2px 2px 12px;
  width: calc(100% - 34px);
  background-color: #f4ff94;
  text-shadow: none;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 20px 0 0 20px;
}
.proklisiParalogos:hover {
  box-shadow: -2px 4px 4px;
  text-shadow: 1px 0px 0px;
}
.proklisiKlisiSelida {
  display: block;
  padding: 8px;
  width: 630px;
  font-family: "Roboto Condensed", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #202020;
  background-color: #ffb6c1;
}
.proklisiKlisi {
  display: block;
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #444;
}
.proklisiKlisiEnotitaTitlos {
  margin: 12px 0px 4px 0px;
  font-style: normal;
  font-weight: bold;
  color: #282828;
  text-align: center;
  border-style: double none double none;
  border-width: 3px;
  border-color: #444;
}
.proklisiKlisiEnotitaData {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}
.proklisiKlisiProtected {
  background-color: #f1f1f1;
}
.proklisiKlisiAlert {
  color: #f00;
  background-color: #ff0;
}
.proklisiKlisiAlert {
  display: inline-block;
  margin-left: 4px;
  padding: 0px 4px;
}
.proklisiKlisiEnotitaHeader {
  width: 100%;
  font-weight: bold;
}
.proklisiKlisiHeaderLine {
  vertical-align: top;
}
.proklisiKlisiHeaderLeft {
  text-align: left;
}
.proklisiKlisiEthnosimo {
  width: 30px;
}
.proklisiKlisiKratos {
  display: inline-block;
  text-align: center;
}
.proklisiKlisiKratosText,
.proklisiKlisiDimos {
  display: inline-block;
  border-style: none none double none;
  border-width: 0px 0px 3px 0px;
  border-color: #222;
}
.proklisiKlisiIpiresia,
.proklisiKlisiContact {
  font-weight: normal;
}
.proklisiKlisiHeaderRight {
  text-align: right;
}
.proklisiKlisiPraxi {
  font-size: 16px;
}
.proklisiKlisiKodikos {
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  color: #f00;
}
.proklisiKlisiKodikos::before {
  content: '\2116';
  padding-right: 8px;
  font-family: Georgia, serif;
  font-size: 28px;
  font-weight: normal;
  color: #000;
}
.proklisiKlisiImerominia {
  display: inline-flex;
  justify-content: right;
}
.proklisiKlisiImerominiaPrompt {
  text-align: right;
  white-space: nowrap;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
  color: #282828;
}
.proklisiKlisiImerominiaTimi {
  text-align: left;
}
.proklisiKlisiOraPrometa::after {
  content: 'π.μ.';
  padding-left: 4px;
  font-weight: normal;
  color: #282828;
}
.proklisiKlisiEnotitaFooter {
  width: 100%;
  margin-top: 10px;
  padding-top: 8px;
  border-style: double none none none;
  border-width: 3px;
  border-color: #444;
}
.proklisiKlisiFooterLine {
  vertical-align: top;
}
.proklisiKlisiFooterLeft {
  text-align: left;
}
.proklisiKlisiFooterRightCol {
  width: 50%;
}
.proklisiKlisiFooterRight {
  text-align: right;
}
.proklisiKlisiFooterArmodios {
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.proklisiKlisiFooterArmodiosKodikos {
  display: inline-block;
  font-weight: bold;
}
.proklisiKlisiFooterArmodiosKodikos::before {
  content: '[';
  margin-right: 2px;
  font-weight: normal;
}
.proklisiKlisiFooterArmodiosKodikos::after {
  content: ']';
  margin-left: 2px;
  margin-right: 8px;
  font-weight: normal;
}
.proklisiKlisiFooterArmodiosOnoma {
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
}
.proklisiKlisiFooterArmodiosIpografi {
  position: absolute;
  top: 0px;
  left: 90px;
  width: 160px;
  opacity: 0.6;
}
.proklisiKlisiPedio {
  line-height: 140%;
  vertical-align: top;
}
.proklisiKlisiLabel {
  width: 180px;
  max-width: 180px;
  text-align: left;
  vertical-align: top;
  font-style: italic;
  color: #282828;
  white-space: nowrap;
  overflow-x: hidden;
}
.proklisiKlisiData {
  padding-left: 8px;
  vertical-align: top;
  font-weight: bold;
}
.proklisiKlisiParavasi {
  font-style: italic;
}
.proklisiKlisiParavasi::before {
  content: '\201C';
  margin: 0px 0px 0px 8px;
  font-style: normal;
}
.proklisiKlisiParavasi::after {
  content: '\201E';
  font-style: normal;
}
.proklisiKlisiMissing {
  display: inline-block;
  color: #191970;
  font-weight: bold;
}
.proklisiKlisiIpovoliSection {
  padding: 8px 2px 16px 2px;
}
.proklisiKlisiIpovoliSection input {
  margin: 8px;
  cursor: pointer;
}
