body {
	font-size: 18px;
	font-family: Georgia, serif;
}

form {
	display: inline-block;
	padding: 8px;
	background-color: #f9ffe0;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	border-radius: 6px;
}

#panelLeft {
	display: inline-block;
	position: relative;
	left: 0;
}

#panelRight {
	display: inline-block;
	position: absolute;
	right: 0;
}

input {
	font-size: 80%;
	padding: 2px 4px;
}

form .panel input {
	cursor: pointer;
}

#akirosi {
	display: none;
}

#pafsi {
	display: none;
}

.prompt {
	font-style: italic;
}

.pedio {
	display: inline-block;
	padding: 4px;
}

.panel {
	display: block;
}

.panel input {
	margin: 4px;
	font-size: 80%;
}

form label.prompt {
	display: inline-block;
	white-space: nowrap;
	width: 14ch;
	text-align: right;
}

#inputRegion {
	padding: 12px;
}

#resultsRegion {
	padding: 12px;
}

.result {
	margin-top: 2px;
	padding: 4px 4px;
	background-color: #fff8ab;
}

.resreq {
	background-color: #dae7ff;
}

.resreqWorking {
	position: relative;
	display: inline-block;
	width: 60px;
}

.resreqWorkingImage {
	position: absolute;
	bottom: 2px;
	left: 10px;
	width: 80px;
}

.reserr {
	background-color: #ffcccc;
}

.resbingo {
	margin-top: 4px;
	padding: 0px;
}

.resbingo0 {
	background-color: #e8e8e8
}

.resbingo1 {
	background-color: #f0f0f0;
}

.colinval {
	font-weight: normal;
}

.oxiKinisi {
	color: yellow;
	background-color: #a50000;
}

.sinidioktisia {
	color: yellow;
	background-color: #00456d;
}

#mazika {
	width: 380px;
	height: 85px;
	overflow-y: auto;
}
