body {
	font-size: 18px;
	font-family: Georgia, serif;
}

form {
	display: inline-block;
	padding: 8px;
	background-color: #f9ffe0;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	border-radius: 6px;
}

input {
	font-size: 80%;
	padding: 2px 4px;
}

.prompt {
	font-style: italic;
}

.pedio {
	display: inline-block;
	padding: 4px;
}

.panel {
	display: block;
	text-align: center;
}

.panel input {
	margin: 4px;
	font-size: 80%;
}

form label.prompt {
	display: inline-block;
	white-space: nowrap;
	width: 16ch;
	text-align: right;
}

#inputRegion {
	padding: 12px;
}

#resultsRegion {
	padding: 12px;
}

.result {
	margin-top: 2px;
	padding: 4px 4px;
	background-color: #fff8ab;
}

.resreq {
	background-color: #dae7ff;
}

.resreqWorking {
	position: relative;
	display: inline-block;
	width: 60px;
}

.resreqWorkingImage {
	position: absolute;
	bottom: 2px;
	left: 10px;
	width: 80px;
}

.reserr {
	background-color: #ffcccc;
}

.resbingo {
	margin-top: 4px;
	padding: 0px;
}

.resbingo0 {
	background-color: #e8e8e8
}

.resbingo1 {
	background-color: #f0f0f0;
}

.resultBox {
	display: inline-table;
	background-color: #fff8ed;
	border-style: double;
	border-width: 3px;
	border-color: #bdbdbd;
}

.resultProsopo {
	background-color: #fff6ee;
}

.resultOxima {
	background-color: #ffffe3;
}

.resultKatoxos {
	margin-left: 4px;
	padding: 2px;
	background-color: #fffedf;
	border-style: solid;
	border-width: 1px;
}

.column {
	vertical-align: top;
	text-align: right;
	color: #444444;
}

.column:after {
	content: ':';
}

.value {
	vertical-align: top;
	font-weight: bold;
	padding-left: 2px;
	background-color: #fdfdfd;
	border-style: none none solid solid;
	border-width: 0.5px;
	border-color: #e4e4e4;
}

.colinval {
	font-weight: normal;
}
